body{
    background-color: burlywood;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

.Toggle,.Timer{
    display: flex;
    justify-content: center;
}


button{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}